.about-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(20, 20, 20), rgb(35, 35, 35));
  background-size: cover;
  background-position: center center;

  .about-container-inner {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .about-left {
      position: relative;
      left: 40px;
      height: 300px;
      width: 300px;
      background-image: url("../images/portrait.png");
      background-size: cover;
      border-radius: 50%;
      border: 3px solid black;
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        transition: 0.5s ease;
      }
      &:hover {
        &:after {
          background: none;
        }
      }
    }
    .about-right {
      width: 50%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: rgb(255, 150, 0);
      .summary {
        width: 80%;
        font-family: "Poppins";
        .highlight {
          font-family: "Oswald";
          color: #fff;
          text-transform: uppercase;
          text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
            1px 1px 0 #000;
          letter-spacing: 1px;
        }
      }
      .summary-skills {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: "Poppins";
        ul {
          margin: 0 auto;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          text-transform: uppercase;
          font-size: 50px;
          color: #fff;
          filter: drop-shadow(0px 0px 5px #000);
          img {
            filter: invert(100%);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .about-container {
    background-size: cover;
    height: 60vh;
    .about-container-inner {
      width: 100%;
      height: 80%;
      flex-direction: column;
      .about-left {
        position: initial;
        height: 150px;
        width: 150px;
        &:after {
          position: initial;
          content: "";
        }
      }
      .about-right {
        width: 100%;
        height: 60%;
        color: rgb(230, 230, 230);
        .summary {
          width: 90%;
          height: 50%;
          font-family: "Poppins";
          font-size: 14px;
          .highlight {
            font-family: "Oswald";
            color: rgb(255, 90, 0);
            text-transform: uppercase;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
              1px 1px 0 #000;
            letter-spacing: 1px;
          }
        }
        .summary-skills {
          width: 80%;
          height: 20%;
          color: rgb(255, 90, 0);
          font-size: 14px;
          ul {
            font-size: 35px;
            img {
              width: 35px;
            }
          }
        }
      }
    }
  }
}
