.contact-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(20, 20, 20), rgb(35, 35, 35));
  .feedback {
    text-align: center;
    font-family: "Poppins";
    padding-bottom: 50px;
    color: rgb(200, 200, 200);
    width: 70%;
    margin: 0 auto;
    h2 {
      font-size: 40px;
      color: #fff;
    }
  }
  .contact-form {
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 70%;
      margin: 0 auto;
      height: 50vh;
      .label {
        color: rgb(201, 201, 201);
        text-align: left;
        font-family: "Poppins";
        text-transform: uppercase;
      }
      .input {
        background: rgba(0, 0, 0, 0.8);
        height: 50px;
        border: none;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-family: "Poppins";
        &:focus {
          outline: none;
        }
      }
      .message {
        height: 200px;
        width: 100%;
      }
      .submit {
        background: rgb(255, 150, 0);
        border: none;
        height: 30px;
        font-family: "Oswald";
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact-container {
    .feedback {
      width: 80%;
      font-size: 15px;
    }
    .contact-form {
      form {
        width: 90%;
        .label {
          font-size: 15px;
        }
      }
    }
  }
}
