.home-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  overflow: hidden;

  .social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    a {
      color: rgb(30, 30, 30);
      font-size: 22px;
      transition: 0.2s ease;
      padding: 5px;
      &:hover {
        transform: translateY(-10%);
        color: rgb(40, 216, 207);
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    a {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      text-decoration: none;
      color: rgb(30, 30, 30);
      font-family: sans-serif;
      font-weight: bolder;
      transition: 0.2s ease;
      letter-spacing: 1px;
      &:hover {
        transform: translateY(-5%);
        color: rgb(40, 216, 207);
      }
    }
  }

  .center {
    height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .title {
      .name-title {
        line-height: 130px;
        font-size: 140px;
        font-family: "Poppins";
        background: linear-gradient(
          to bottom,
          rgb(0, 119, 113),
          rgb(40, 216, 207)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .sub-title {
        font-size: 35px;
        font-family: "Cinzel";
        font-weight: 900;
        color: rgb(30, 30, 30);
      }
    }
  }
}

svg line {
  stroke: rgb(30, 30, 30);
}
