.home-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  overflow: hidden;

  .social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    a {
      color: rgb(60, 60, 60);
      font-size: 22px;
      transition: 0.2s ease;
      padding: 5px;
      &:hover {
        transform: translateY(-10%);
        color: rgb(40, 216, 207);
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    a {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      text-decoration: none;
      color: rgb(90, 90, 90);
      font-family: sans-serif;
      font-weight: bolder;
      transition: 0.2s ease;
      letter-spacing: 1px;
      &:hover {
        transform: translateY(-5%);
        color: rgb(40, 216, 207);
      }
    }
  }

  .center {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .title {
      line-height: 80px;
      text-shadow: 0px 0px 20px rgb(0, 0, 0);
      .name-title {
        font-size: 120px;
        font-family: "Poppins";
      }
      .sub-title {
        font-size: 30px;
        font-family: "Cinzel";
      }
    }
    .summary {
      width: 40%;
      .highlight {
        color: rgb(40, 216, 207);
      }
    }
    .summary-skills {
      display: flex;
      flex-direction: column;
      width: 100%;
      ul {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: 40%;
        color: rgb(40, 216, 207);
        text-transform: uppercase;
        font-family: "Poppins";
      }
    }
  }
}

svg line {
  stroke: rgb(100, 100, 100);
}
