nav {
  height: 10vh;
  transition: 0.5s ease;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.scrolled {
  background: rgba(0, 0, 0, 0.7);
}

.nav-header {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 40px;
  }
  .menu {
    z-index: 5;
    cursor: pointer;
  }
  svg {
    display: none;
  }
}

.nav-links {
  width: 30%;
  .list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    a {
      display: flex;
      cursor: pointer;
      span {
        color: rgb(160, 160, 160);
        padding-right: 5px;
        font-family: "Cinzel";
        font-weight: bolder;
      }
      color: white;
      font-size: 15px;
      font-family: "Cinzel";
      font-weight: bolder;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.3s ease;
      &:hover {
        color: rgb(40, 216, 207);
      }
    }
  }
}

.open-nav {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgb(199, 199, 199), rgb(0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: 0.3s ease;
  .nav-links-mobile {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .list-mobile {
      list-style: none;
      height: 80%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-transform: uppercase;
      a {
        color: rgb(221, 221, 221);
        text-decoration: none;
        font-family: "Oswald";
        font-size: 40px;
        text-align: center;
        transition: 0.3s ease;
        &:hover {
          color: rgb(40, 216, 207);
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .nav-header {
    .logo {
      width: 40px;
    }
    svg {
      display: initial;
    }
  }
  .nav-links {
    display: none;
  }
}
